week5/src/main/java/homeword1/definition/linjn.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.linjn.cn/linjn"
        targetNamespace="http://www.linjn.cn/linjn"
>
    <xsd:element name="student">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="age" type="xsd:int"/>
            <xsd:attribute name="name" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>